.login-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
    height: 80vh;


    font-family: Roboto, serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background-color: rgb(139, 172, 201);

}

.login-in-inputs-and-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login-inputs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.field-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.login-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    border: 1px;  
}

.login-buttons-wrapper button {
    padding: 12px 16px;
    color: azure;
    background-color: rgb(55, 48, 156);
}

.login-footer {
    display: flex;
    justify-content: center;
    gap: 6px;
}


@media screen and (max-width: 768px) {
    .login-form {
      padding: 20px;
    }
  
    .login-in-inputs-and-button-wrapper {
      gap: 20px; 
    }
  
    .field-wrapper {
      flex-direction: column; 
      gap: 10px; 
    }
  
    .login-buttons-wrapper {
      justify-content: center;
      gap: 10px; 
    }
  
    .login-buttons-wrapper button {
      padding: 8px 12px;
    }
}

