.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: antiquewhite;
}

.header img {
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 768px) {
    .header img {
        width: 30px;
        height: 30px;
    }
}